<% content_for :header do %>
  <header class="bg-cover bg-center relative bg-no-repeat" style="background-image: url(<%= asset_url("fusion.png") %>);" data-controller="nav">
    <div class="dark:bg-slate-900 relative">
      <%= render "shared/nav_menu" %>
    </div>

    <div class="md:col-span-6 col-span-1 lg:col-span-3 sm:col-span-6 border border-slate-300/80 hover:border-slate-400/70 dark:hover:border-slate-300/40  shadow-sm p-4 focus:ring-4 focus:ring-slate-200/50 dark:focus:ring-slate-200/10 bg-white group dark:bg-slate-800 dark:border-slate-600">
      <div class="text-center py-2 relative z-5">
        <h1 class="md:text-4xl text-3xl font-extrabold dark:text-slate-100 tracking-tight text-white text-left flex-1">Profile Classification</h1>
      </div>
    </div>
  </header>
<% end %>


<div class="container mx-auto sm:my-2 my-10 px-4">
  <div class="grid md:grid-cols-12 gap-16">
    <!--Profile-->
    <%= render 'manager/students/profiles/show_profile' %>

    <!--survey-->
    <div class="lg:col-span-8 md:col-span-7 col-span-12">
      <%= render 'show_evaluate_survey', student_profile: @student_profile %>
    </div>
  </div>
</div>
